In [ ]:
import kagglehub



# Download latest version
path = kagglehub.dataset_download("ankushpanday1/global-road-accidents-dataset")

print("Path to dataset files:", path)

In [ ]:
import seaborn as sns
import pandas as pd

data = pd.read_csv(path+'/road_accident_dataset.csv')
data.head()

In [ ]:
data.shape
sample = data
sample.shape

In [113]:
len(sample.index)

132000

In [ ]:
sample.tail()

In [114]:
pd.value_counts(sample.dtypes)

object     14
int64       9
float64     7
Name: count, dtype: int64

In [115]:
sample.dtypes

Country                         object
Year                             int64
Month                           object
Day of Week                     object
Time of Day                     object
Urban/Rural                     object
Road Type                       object
Weather Conditions              object
Visibility Level               float64
Number of Vehicles Involved      int64
Speed Limit                      int64
Driver Age Group                object
Driver Gender                   object
Driver Alcohol Level           float64
Driver Fatigue                   int64
Vehicle Condition               object
Pedestrians Involved             int64
Cyclists Involved                int64
Accident Severity               object
Number of Injuries               int64
Number of Fatalities             int64
Emergency Response Time        float64
Traffic Volume                 float64
Road Condition                  object
Accident Cause                  object
Insurance Claims                 int64
Medical Cost                   float64
Economic Loss                  float64
Region                          object
Population Density             float64
dtype: object

In [ ]:
# Display non-numerical features
sample.select_dtypes(exclude="number").head(3)

In [ ]:
# Display non-numerical features
sample.select_dtypes(include="number").head(3)

In [ ]:
sample.Country.nunique()
sample.nunique()

In [ ]:
# Map gender values to integers
gender_mapping = {'Male': 1, 'Female': 0}
# sample["Driver Gender"] = sample["Driver Gender"].map(gender_mapping).astype("int8")
sample["Driver Gender"]
sample.select_dtypes(include="number").head()

In [ ]:
sample.info()

In [ ]:
sample.values

In [116]:
sample.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,132000.0,2011.973348,7.198624,2000.000000,2006.000000,2012.000000,2018.000000,2024.000000
Visibility Level,132000.0,275.038776,129.923625,50.001928,162.338860,274.672990,388.014111,499.999646
Number of Vehicles Involved,132000.0,2.501227,1.117272,1.000000,2.000000,3.000000,3.000000,4.000000
Speed Limit,132000.0,74.544068,26.001448,30.000000,52.000000,74.000000,97.000000,119.000000
Driver Alcohol Level,132000.0,0.125232,0.072225,0.000002,0.062630,0.125468,0.187876,0.249999
Driver Fatigue,132000.0,0.500576,0.500002,0.000000,0.000000,1.000000,1.000000,1.000000
Pedestrians Involved,132000.0,1.000773,0.816304,0.000000,0.000000,1.000000,2.000000,2.000000
Cyclists Involved,132000.0,0.998356,0.817764,0.000000,0.000000,1.000000,2.000000,2.000000
Number of Injuries,132000.0,9.508205,5.774366,0.000000,5.000000,9.000000,15.000000,19.000000
Number of Fatalities,132000.0,1.995439,1.412974,0.000000,1.000000,2.000000,3.000000,4.000000
Emergency Response Time,132000.0,32.491746,15.889537,5.000177,18.732879,32.534944,46.289527,59.999588
Traffic Volume,132000.0,5041.929098,2860.671611,100.062626,2560.601299,5037.909855,7524.638162,9999.997468
Insurance Claims,132000.0,4.495621,2.867347,0.000000,2.000000,4.000000,7.000000,9.000000
Medical Cost,132000.0,25198.454901,14274.771691,500.110090,12836.933596,25188.202669,37529.024899,49999.930130
Economic Loss,132000.0,50437.505615,28584.290822,1000.335085,25692.817343,50395.499874,75186.626093,99999.622968
Population Density,132000.0,2506.476223,1440.646352,10.002669,1258.158299,2506.203333,3756.652950,4999.991745

In [ ]:
sample.describe(exclude="number").T

In [ ]:
# For each numerical feature compute number of unique entries
uniqueVal = sample.select_dtypes(include="number").nunique().sort_values()
print(uniqueVal)

In [ ]:
# For each numeric Titlel feature compute number of unique entries
uniqueValCaag = sample.select_dtypes(exclude="number").nunique().sort_values()
print(uniqueVal)

In [ ]:
# Plot information with y-axis in log-scale
uniqueVal.plot.bar(logy=True, figsize=(11, 3), title="Unique values per feature")

In [ ]:
sample.duplicated()

In [ ]:
sample.isna()

In [ ]:
sample.notna().sample(5)

In [ ]:
# imshow(.): display data as an image, i.e., on a 2D regular raster.
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))
plt.imshow(sample.isna(), aspect="auto", interpolation="nearest", cmap="gray")
plt.xlabel("Column Number")
plt.ylabel("Sample Number")

In [ ]:
# axis = 0 we drop the whole row
# since we don't have null values in our dataset
# sample.dropna(axis=0, how='all').shape
# Get the total number of NaN values
sample.isna().sum()

In [106]:
numericValues = sample.select_dtypes(include="number")

In [ ]:

numericValues.corr()

In [ ]:
import seaborn as sns
corr = numericValues.corr()

# Plot heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title("Correlation Heatmap")
plt.show()

In [112]:
from sklearn.decomposition import PCA

pca = PCA(n_components=5)
X_pca = pca.fit_transform(numericValues)
X_pca

array([[-2.83291077e+04,  1.53654647e+04,  2.37839122e+03,
        -1.36466026e+03,  5.40802109e+01],
       [-4.09460464e+04, -1.86176316e+04, -5.85015683e+02,
         1.74929928e+02,  1.06070883e+02],
       [ 7.58133954e+03,  3.94654534e+03,  4.81309698e+03,
        -1.90890687e+03, -6.66825201e+01],
       ...,
       [-4.23061784e+04, -4.06102856e+02,  1.82118274e+03,
        -1.69238402e+03,  2.00098378e+02],
       [-3.28571751e+04, -1.16350271e+04, -3.51946235e+03,
        -3.99979319e+02, -1.72189241e+00],
       [-2.27223777e+04, -2.19070034e+04,  2.61491691e+03,
        -4.44315995e+02,  2.06740502e+01]])